* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto';
    src: url(../fonts/Roboto.ttf);
}

@font-face {
    font-family: 'monserrat';
    src: url(../fonts/Montserrat.ttf);
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url('../images/background.webp');
    background-repeat: repeat;
    background-size: auto;
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.border {
    text-align: center;
    width: 100%;
    height: auto;
    border-color: red;
    border-style: solid;
}

/* start contact form styles*/

.contac-section {
    background-color: #f7f7f7;
}

.contact-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 20px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    flex-wrap: wrap;
}

.contact-text,
.contact-form {
    flex: 1;
    min-width: 300px;
}

.contact-text h1 {
    font-family: 'monserrat';
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.contact-text p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    text-align: justify;
}

.form-body {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 100%;
}

.form-body h2 {
    text-align: center;
    font-family: 'monserrat';
    color: #333;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #555;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
    font-family: sans-serif;
    /* o usa 'Arial', 'Roboto', etc. */
    font-size: 16px;
    color: #333;
}

input:focus,
textarea:focus {
    border-color: #039057;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    background-color: #039057;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #026d42;
}


@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        align-items: stretch;
    }

    .form-body {
        padding: 20px;
    }

    .contact-text {
        text-justify: inter-word;
    }
}

/* start footer styles */

footer {
    background-color: #1f1f1f;
    text-align: center;
    color: #ffff;
    height: 300px;
    padding: 10px;
}

.footer-logo {
    padding: 10px;
    margin-bottom: 55px;
}

.footer-logo img {
    width: 65px;
    height: 65px;
    padding: 0;
    margin: 0;
}

.footer-name-company {
    padding: 0;
    margin: 0;
}

.footer-menu {
    text-align: center;
    margin-bottom: 55px;
}

.footer-menu ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 40px;
}

.footer-menu ul li {
    margin-right: 30px;
}

.footer-menu ul li a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}

.footer-copyright {
    font-size: small;
    color: #b4b4b4;
}

.green-letter {
    color: #039057;
}

/* Mobile styles*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .footer-menu {
        text-align: center;
        margin-bottom: 23px;
    }

    .footer-logo {
        margin-bottom: 20px;

    }

    .footer-menu ul {
        width: 100%;
        display: block;
        list-style-type: none;
    }

    .footer-menu ul li {
        margin-right: 0;
        margin-bottom: 1px;
    }
}


/* end footer styles */