* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.border {
    text-align: center;
    width: 100vw;
    height: 150px;
    border-color: red;
    border-style: solid;
}


.description_subtitle h1{
    display: flex;
    margin-top: 90px;
    margin-left: 200px;
    text-align: justify;
    width: 600px;  
    font-size: 30px;
    color: #333;
    line-height: 1.6;
}

.description_subtitle p{
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    font-size: 22px;
    color: #666;
    line-height: 1.6;
}

.beneficios {
 
    display: flex;
    gap: 60px;
    width: 80vw;
    max-width: 1400px;
    justify-content:center;
    height: 380px;
    margin: auto;
    margin-bottom: 100px;
}



.beneficio {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-width: 200px;
    position: relative;
}

.beneficio img {
   width: 120px;
}

.beneficio h1{
    color: #039057;
    margin-top: 90px;
}

.beneficio p{
    color: #001D12;

}

.beneficio:hover {
    transform: scale(1.2);
}








.bottom_secc {
    width: 100vw;
    background: #1A544E;
    padding: 100px 0 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}


.bottom_secc h1{
    font-size: 2rem;
    color: #dcdcdc;
    margin: 0 0 12px 0;
    text-align: center;

}
.bottom_secc p{
    font-family: "Dosis", sans-serif;
    font-size: 1rem;
    color: #d8d8d8;
    margin: 0;
    text-align: center;
}


